src/main/mule/myfirstmuleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d9ce0ea3-9e0a-4d57-86ea-8c33239baef1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="myfirstmuleappFlow" doc:id="f7366c1a-d40b-4c11-a851-4ee731c1c0fa" >
		<http:listener doc:name="Listener" doc:id="92e982b2-7ea7-4d78-95f7-6e9a1629ca0b" config-ref="HTTP_Listener_config" path="/hello/{name}"/>
		<set-payload value='#["Hello " ++ attributes.uriParams.name as String]' doc:name="Set Payload" doc:id="bf27b130-2417-4c9e-b0ed-eabf9d4f41b0" />
	</flow>
</mule>
